<section  class="vh-100">
  <div  class="container py-5 ">

    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-6 col-xl-4 main-bg">

        <h3 class="mb-4 pb-2 fw-normal center">Sprawdź prognozę pogody</h3>

        <div class="input-group rounded mb-3">
          <input type="search" class="form-control rounded" placeholder="Miasto" aria-label="Szukaj"
            aria-describedby="search-addon" [(ngModel)]="city"  #cityName />
          <button href="#!" type="button" id="search-addon" class="btn btn-primary" (click)="getWeatherForCity(cityName.value)">
            Sprawdź!
          </button>
        </div>

        <div class="mb-4 pb-2">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
              value="celsius" checked [(ngModel)]="temp_type" />
            <label class="form-check-label radio-label" for="inlineRadio1">Celsjusz</label>
          </div>

          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
              value="farenheit" [(ngModel)]="temp_type" />
            <label class="form-check-label radio-label" for="inlineRadio2">Fahrenheit</label>
          </div>
        </div>

        <div class="d-flex justify-content-center" style="margin-bottom: 10px;">
          <button href="#" type="button" class="btn btn-success" (click)="saveWeather()">
            Zapisz pogodę
          </button>
        </div>

        <div id="card-body-div" class="card shadow-0 border">


          <!-- details card -->


          <div class="card-body " id="details-dev">

            <h4 class="mb-1 sfw-normal">{{ obj.name.toUpperCase() }}</h4><br>

            <p class="mb-2">Aktualna temperatura: <strong>{{ obj.temp }}°{{ temp_symbol }}</strong></p>
            <p>Odczuwalna: <strong>{{ obj.feel_like }}°{{ temp_symbol }}</strong></p>
            <p>Max: <strong>{{ obj.max_temp }}°{{ temp_symbol }}</strong>, Min: <strong>{{ obj.min_temp }}°{{ temp_symbol }}</strong></p>
            <p>Prędkość wiatru : <strong>{{ obj.speed }} m/s</strong></p>

            <p class="mb-0 me-4" ><strong>{{ obj.description }}</strong></p>

            <!-- <h4 class="mb-1 sfw-normal">New York, US</h4> -->
            <!-- <p class="mb-2">Current temperature: <strong>5.42°C</strong></p> -->
            <!-- <p>Feels like: <strong>4.37°C</strong></p> -->
            <!-- <p>Max: <strong>6.11°C</strong>, Min: <strong>3.89°C</strong></p> -->
            <!-- <p class="mb-0 me-4" id="descrip"><strong>Scattered Clouds</strong></p> -->


          </div>

          <div class="" id="div-pic">
            <!-- <i href="http://openweathermap.org/img/wn/03n@2x.png" class="fas fa-cloud fa-3x" style="color: #eee;"></i> -->
            <img id="icon-wea" src="http://openweathermap.org/img/wn/{{ obj.icon }}@2x.png" alt="" >
          </div>

        </div>

        <div class="d-flex justify-content-center" style="margin-bottom: 10px;">
          <button href="#" type="button" class="btn btn-success" (click)="saveWeather()">
            Zapisz pogodę
          </button>
        </div>

      </div>
    </div>

  </div>

  <div id="snackbar">Location permission denied. Defaulting to Karimnagar.!</div>


</section>

